<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!--    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous">


    <style>
        html * {
            font-family: 'Open Sans', sans-serif
        }

        /**************************************/

        .nav-wrapper {
            width: 100%;
            height: 50px;
            text-align: center;
            background-color: white;
            color: #fff;
            transition: all 0.25s ease;
            position: fixed;
            z-index: 10;
            padding-top: 3px;
            border-bottom: 1px solid #a89f9ffa
            /* make sure to add vendor prefixes here */
        }

        .logo {
            padding-top: 5px;
            float: left;
        }

        .logo-img {
            float: left;
        }

        .navbar-menu {
            float: right;
            color: orange;
            display: block;
            margin-top: 5px;
            font-family: 'Open Sans', sans-serif;
            letter-spacing: 1px;

        }

        .navbar-menu button {
            border: 2px solid orange;
        }

        .nav-menu {
            float: right;
            margin-bottom: 5px;
        }

        .nav-wrapper.past-main {
            background-color: #fff;
            color: black;
            position: fixed;
            border-bottom: 1px solid #dcdcdc
        }

        .list-button {
            float: left;
            margin-top: 13px;
        }

        .register {
            float: right;
            padding-bottom: 7px;
            margin-top: 9px;
        }

        .register li {
            display: inline;
            list-style: none;
            padding-right: 20px;
            color: orange;
        }

        .nav-menu .register button {
            border: none;
            background-color: transparent;
            color: black;
            text-align: center;
            cursor: pointer;
            font-size: 18px;

        }

        .nav-menu .register button:hover {
            color: orange;
            border-bottom: 1px solid #df6e21
        }

        .navbar-menu button {
            border: none;
            background-color: transparent;
            color: black;
            text-align: center;
            cursor: pointer;
            font-size: 18px;

        }

        .navbar-menu button:hover {
            color: orange;
            border-bottom: 1px solid #df6e21
        }

        .wish-list {
            border-radius: 50%;
            border: 2px solid orange;
            padding: 4px;

            cursor: pointer;
            color: black;
        }

        .wish-list:hover {
            background: orange;
            color: white;
        }



        .nav-button {

            background-color: transparent;
            border: none;
            color: black;
            padding: 6px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border: 2px solid orange;
            font-size: 15px;
            transition-duration: 0.4s;
            cursor: pointer;
            letter-spacing: 1px;

        }





        .nav-button:hover {
            background-color: orange;
            color: white;
        }


        /****************************************/

        .fifth-section {
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-gap: 10px;
            padding: 10px;
        }



        .fifth-section .products {
            display: inline-block;
            width: 300px;
            box-shadow: 0px 0px 15px 0px #D6D6D6;
            padding: 1% 1%;
            margin: 2% 3%;

        }

        .fifth-section .product-image {
            height: 55%;
            margin: 6%;
            padding: 0% 0%;
            transition: 300ms linear;
            position: relative;
        }

        .fifth-section .product-image img {
            width: 260px;
            height: 250px;
        }

        .fifth-section .product-shop {
            height: 45%;
            padding-top: 2%;
            padding-bottom: 3%;
        }

        .fifth-section .product-shop h1 {
            color: #df6e21;
            font-size: 1em;
            margin-top: 3%;
            font-weight: bold;
            text-align: center;
        }

        .fifth-section .product-shop h2 {
            font-size: 1.2em;
            font-weight: bolder;
            margin-top: 7px;
            margin-bottom: 3px;
            letter-spacing: 2px;
            text-align: center;
        }

        .fifth-section .product-shop del {
            margin-left: 15%;
            font-size: 0.8em;
            letter-spacing: 1px;
            color: #908e8e;
        }

        .carousel-button {
            padding: 0px 0px;
            border-style: none;
            height: 40px;
            width: 75%;
            margin-left: 12.5%;
        }

        .carousel-button {
            background-color: #2096ba;
            padding: 0px 0px;
            color: #fff;
            letter-spacing: 1px;
            margin-top: 0.8em;
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            z-index: 2;
            text-align: center;
            cursor: pointer;

        }

        .carousel-button::before {
            content: '';
            position: absolute;
            border: #2096ba solid 4px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: 0.2s ease-out;
            transition-property: top, right, bottom, left;
        }

        .carousel-button a {
            text-decoration: none;
            color: white;
            height: 30px;
        }

        .carousel-button:hover::before {
            top: -8px;
            bottom: -8px;
            left: -8px;
            right: -8px;
        }

        .fifth-section .product-image:hover {
            transform: scaleX(1.1) scaleY(1.1);
            box-shadow: 0px 0px 15px 0px #D6D6D6;
            filter: sepia(50%)
        }

        .fifth-section .product-image:hover button {
            display: block;
            height: 40px;
            width: 60%;
            top: 40%;
            left: 18%;
            position: absolute;
            background: #2096ba;
            transition: 0.4s ease-out;
        }

        .fifth-section .product-image button {

            border-style: none;
            display: none;
        }

        .fifth-section .product-image a {
            text-decoration: none;
            color: white;
        }

        .fifth-section .tab-pane {
            height: 100%;
        }

        .fifth-section .tab-content {
            height: 90%;
            background-color: white;
            margin-top: 1%;
        }

        .fifth-section-mobile-view {
            display: none;
        }


        .footer-wrapper li {

            text-decoration: none;
            display: inline;
            padding: 0px 80px;
        }

        .first-block a {
            color: black
        }

        a {
            text-decoration: none
        }

        .detail {
            line-height: 1.5;
        }

        .clearfix:after {
            content: " ";
            /* Older browser do not support empty content */
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }

        /*-- //responsive media queries --*/
    </style>
</head>

<body>
    <nav class="nav-wrapper clearfix">
        <div class="logo">
            <div class="logo-img">
                <a href="/">
                    <img src="/images/logo.png" style="height: 37px; width: 100px">
                </a>
            </div>

            <ul class="nav-menu">
                <button class="btn nav-button" onclick="location.href='diyproducts'"> Browse DIY Deals</button>&nbsp;&nbsp;&nbsp;
                <button class="btn nav-button" onclick="location.href='material'"> Sell on Yesari</button>&nbsp;&nbsp;&nbsp;


            </ul>


        </div>
        <div class="nav-menu">

            <ul class="register">

                <li>
                    <span class="wish-list fas fa-shopping-cart" onclick="location.href='cart'"></span>
                    </a>
                </li>

                <% if(!user) { %>
                    <li>
                        <button onclick="location.href='signup'">Register</button>
                    </li>
                    <li>
                        <button onclick="location.href='login'">Login</button>
                    </li>


                    <% }else{ %>
                        <li>
                            <button>
                                <%=user.username%>
                            </button>
                        </li>
                        <li>
                            <button onclick="location.href='signout'">Logout</button>
                        </li>
                        <%}%>


            </ul>
            <!-- <div class="register">Register</div>
          <div class="login">Login  </div> -->
        </div>
    </nav>

    <!-- <div class="register">Register</div>
              <div class="login">Login  </div> -->
    </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="    margin-left: 30px;
    margin-right: 30px">
                        <li class="breadcrumb-item">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <br/>
                            <br/>
                            <br/>
                            <a href="category.html">Category</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Sub-category</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3">
                <div class="single category">
                    <h3 class="side-title">Category</h3>

                    <ul class="list-unstyled">
                        <li>
                            <a href="" title="">Clothing</a>
                        </li>
                        <li>
                            <a href="" title="">Art and Craft</a>
                        </li>
                        <li>
                            <a href="" title="">Home Decor</a>
                        </li>
                        <li>
                            <a href="" title="">Accessories</a>
                        </li>
                        <li>
                            <a href="" title="">DIY Materials</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-9">
                <div style="text-align: center; padding-bottom: 10px">
                    <h2>LISTINGS
                        <span style="color: orange">AVAILABLE </span>
                    </h2>
                </div>

                <% if(products && products.length > 0) { %>


                    <div class="fifth-section">
                        <% var i = 0; products.forEach(function(product) { i++; %>



                            <div class="tab-pane">
                                <div class="products row ">
                                    <div class="product-image">

                                        <!-- <button>
                                            <a href="product.html">VIEW MORE</a>
                                        </button> -->


                                        <img src="/images/<%=product.myimage%>">

                                    </div>



                                    <div class="product-shop ">
                                        <h1>
                                            <%= product.name %>
                                        </h1>
                                        <h4 style="text-align: center; padding: 10px; text-transform: capitalize">

                                            <%= product.productType %>
                                        </h4>
                                        <h2>Rs.
                                            <%= product.price %>
                                        </h2>
                                        <br/>

                                        <!-- <button class="carousel-button" onclick="location.href = 'product/<%= product._id %>';">
                                            VIEW MORE
                                        </button> -->

                                        <span style="padding-left: 50px;" />
                                        <a href="product/<%= product._id %>" style="color: white; background: #2096ba; padding: 8px; ">View More</a>


                                        <a href="/add-to-cart/<%= product._id %>" style="color: white; background: #2096ba; padding: 8px; ">Add to Cart</a>



                                    </div>
                                </div>
                            </div>
                            <%if(i%3===0){%>
                                </br>
                                <%}%>
                                    <% }); %>



                    </div>
                    <% } else { %>
                        <p class="alert alert-info">Sorry, no products to show.</p>
                        <% } %>
                            <br/>
                            <br/>

            </div>


        </div>
    </div>
    </div>
    </div>
</body>
<script>
    jQuery('ul.nav li.dropdown').hover(function () {
        jQuery(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn();
    }, function () {
        jQuery(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut();
    });
</script>

</html>




<% include ./partials/footer %>